
mixin repCard(rep, login)
  div.rep-list__item
    div.rep-list__item__top
      h3 <a href="#" class="route rep-list__item__top__title" data-section='/!{login}/!{rep.name}/branches'> !{rep.name} </a>
      //- a.rep-list__item__top__title(href='#') !{name}
      div.rep-list__item__top__stars *5
      div.rep-list__item__info updated !{rep.created_at}
  hr.line-separator.line-separator_extra-thin


div.section
  div.section__main
    div.profile
      div.profile-info
        img.profile__avatar(src=image alt='avatar')
        h3.profile-info__login Login: #{login}
        h3.profile-info__email Email: #{email}
        div.profile-info__button
          if (auth === login)
            button.route.button.button_long(type='submit' name='settings' data-section='/settings') Edit profile
      div.profile__data
        div.profile__data__top
          div.profile__data__top__menu
            div.profile__data__top__menu_item
              //- button.button(type='submit') Profile
            div.profile__data__top__menu_item
              button.route.button(type='submit' data-section='/new') New
        hr.line-separator.line-separator_thin
        div.profile__data__main
          div.rep-list
            if reps
              each rep in reps
                +repCard(rep, login)
            else
              h3 Create repositories!
