//- - let reps = [ {name: '123', stars: 1, update: 'kek'}, {name: '123', stars: 1, update: 'kek'}, {name: '123', stars: 1, update: 'kek'}]

mixin repCard(rep)
  div.profile-repository__item
    div.repository-card
      div.repository-card__repository-name
        a.rep-link(href="#" name=rep.name data-section='createRepository' data-rep=rep.name) #{rep.name}
      div.repository-card__repository-stars
          a(href="#") stars #{rep.stars}
      div.repository-card__repository-update
        h6 last update #{rep.update}


div.section
  div.section__main
    div.section__column1
      div.profile-info
        img.profile__avatar(src=image alt='avatar')
        h3.profile__username Login: #{login}
        hr.line-separator
        h3.profile__email Email: #{email}
        if name != ''
          hr.line-separator
          h3.profile__name Name: #{name}
        if owner
          hr.line-separator
          div.profile__button
            button.button.button_long(type='submit' name='settings') Edit profile
    div.section__column2
      div.profile-menu
        div.profile-menu__item
          //- button.button(type='submit') Repositories
          h2 User Repositories
        //- div.profile-menu__item
        //-   hr.line-separator.line-separator-thin
        div.route.profile-menu__item
          button.button(type='submit') New Profile
      hr.line-separator
      div.profile-repository
        if reps
          each rep in reps
            +repCard(rep)
        else
          h3 Create repositories!
