div.section
    div.card
        div.section__title
            .section__title__item
                h2.title
                    span
                        a.route(href='#' data-section=`/user/${author}/pull_requests`) Пулл реквесты
                    span

        div.section__main

            hr.line-separator.line-separator_thin

            div.repository
                if repList
                    form.form-horizontal(action='#' name="selectRep")
                        div.form-horizontal__item(style="margin-left: -1px")
                            label.form-horizontal__item__label(for="repName") репозиторий:
                            select#repName.form__item__input(name="repName")
                                if !repName
                                    option(hidden value="")
                                each rep in repList
                                    if repName === rep.name
                                        option(selected value=repName) #{repName}
                                    else
                                        option(value=rep.name) #{rep.name}

                    hr.line-separator.line-separator_extra-thin(style="margin-bottom: 15px")

                    input#openedLink.repository__top__menu_link(type="radio" name = "requestLink" "checked")
                    label.repository__top__menu_label(for="openedLink") Открытые
                    input#acceptedLink.repository__top__menu_link(type="radio" name = "requestLink")
                    label.repository__top__menu_label(for="acceptedLink") Принятые
                    input#deletedLink.repository__top__menu_link(type="radio" name = "requestLink")
                    label.repository__top__menu_label(for="deletedLink") Отклонённые
                    span#requestMessage.issue_info_message #{successMsg}

                    hr.line-separator.line-separator_extra-thin(style="margin-top: 4px")
                    div#repository__list__requests
                else
                    span.repository__list__item_info У вас пока нет пулл реквестов
            hr.line-separator.line-separator_thin

