div.repository__list
    hr.line-separator.line-separator_extra-thin
    div.repository__list__item
        h3
            a.route.requestLink.repository__list__item_title(id = item.id) #{item.title}
        div.repository__list__item_info открыт: #{item.date}
        div.repository__list__item_info
            span #{item.from_author_login}/#{item.from_repo_name} &nbsp
            span(style='font-weight: bold') #{item.branch_from} &nbsp
            span -> #{item.to_author_login}/#{item.to_repo_name} &nbsp
            span(style='font-weight: bold') #{item.branch_to}

    div.repository__list__item_message(id=`msg_${item.message}`) #{item.message}

    div.repository__list__item__buttonField(id=`button_${item.id}`)
