
div.section
    div.card
        div.section__title
            .section__title__item
                h2.title Репозиторий: &nbsp
                    span
                        a.route(href='#' data-section=`/profile/${author}`) #{author}
                    span  /
                    span
                        a.route(href='#' data-section=`/${author}/${repName}/branches`) #{repName}
            .section__title__item
                .other__container
                    .rep_stars
                        .rep_stars__item.tooltip
                            a.rep_stars__action
                                if (vote  === 'send')
                                    p Добавить
                                else
                                    p Удалить
                        .rep_stars__item.tooltip
                            a.route.rep_stars__counter(data-section=`/${author}/${repName}/stargazers` data-vote=vote data-id=id) !{stars}
                            .tooltip__text Посмотреть все звезды репозитория

                    .rep_fork
                        .rep_fork__item
                            a.rep_fork__action(href='#') Форкнуть
                        .rep_fork__item.tooltip
                            span.route.rep_stars__counter

        div.section__main
            if (is_fork)
                .rep_forked
                    | Форкнуто от &nbsp
                    a.route(href='#' data-section=`/${parent_repository_info.author_login}/${parent_repository_info.name}/branches`) #{parent_repository_info.author_login} / #{parent_repository_info.name}
            div.rep-menu
                div.rep-menu-main
                    div.rep-menu__item
                        button.route.code.button(type='submit') Код
                    div.rep-menu__item
                        button.route.branches.button(type='submit') Ветки
                    div.rep-menu__item
                        button.route.commits.button(type='submit') Коммиты
                    div.rep-menu__item
                        button.route.issues.button(type='submit') Задачи
                    div.rep-menu__item
                        button.route.news.button(type='submit') Новости
                    .rep-menu__item
                        input.link__box( value=`https://code-hub.space/${author}/${repName}.git` readonly)
                        button.link__copy(type='submit') Скопировать
                div.rep-menu-additional
                    block button
            hr.line-separator.line-separator_thin

            div.repository
                block content
            hr.line-separator.line-separator_thin
