extends ../repository/repository.pug
block content
    div.repository__top
        div.repository__top_path #{repName}/#{branchName}/#{filePath}
        div.repository__top_button
            button.route.deleteFile.button.button-extra-small.button-colored(type='submit') Delete file
    if fileType === "code"
        pre.prettyprint.linenums(class="lang-с") #{fileContent}
    else
        div.fileField
            a#fileLink.loadFile.fileField__link(href = fileUrl download=fileName)
                u View file
