extends ../profile/profile.pug

block content
  
  mixin repCard(rep, login)
    - let date = new Date(rep.created_at)
    div.rep-list__item
      div.rep-list__item__top
        h3 <a href="#" class="route rep-list__item__top__title" data-section='/!{login}/!{rep.name}/branches'> !{rep.name} </a>
        div.rep-list__item__top__stars *5
        div.rep-list__item__info обновлено !{date.toLocaleDateString()} !{date.toLocaleTimeString().slice(0,-3)}
    hr.line-separator.line-separator_extra-thin

  div.rep-list
    if (reps.length > 0)
      each rep in reps
        +repCard(rep, login)
    else
      h3 Репозиториев нет!