extends ../repository/repository.pug
block content

  if newsList
    hr.line-separator.line-separator_thin
    div.repository__list
      div.repository__list__group
        each news in newsList
          - let date = new Date(news.created_at)
          div.repository__list__group_title дата: !{date.toLocaleDateString()} !{date.toLocaleTimeString().slice(0,-3)}
          div.repository__list__group_content
            div.repository__list__item
              div.repository__list__item_title #{news.message}



              div.repository__list__item_button
                div
                  span.repository__list__item_info автор:
                    if news.author == null
                      span.repository__list__item_info_link Неизвестно
                    else
                      a.repository__list__item_info_link(href = `../../profile/${news.author}`) #{news.author}
                  image.repository__list__item_avatar(width='30' hight='30' src=news.image onError="this.style.display='none'")
                // button.button.button-colored.button-small(type='submit') *

  else
    div
      span.repository__list__item_info В этом репозитории пока что нет новостей
