extends ../repository/repository.pug
block content

    if branchList
        form.form-horizontal(action='#' name="selectBranch")
            div.form-horizontal__item
                label.form-horizontal__item__label(for="branchName") ветка:
                select#branchName.form__item__input(name="branchName")
                    each branch in branchList
                        if branch.name === branchName
                            option(selected value=branchName) #{branchName}
                        else
                            option(value=branch.name) #{branch.name}

        hr.line-separator.line-separator_thin
        div.repository__list
            div.repository__list__group
                each commit in commitList
                    - let updated = new Date(commit.commit_author_when)
                    div.repository__list__group_title обновлено: !{updated.toLocaleDateString()} !{updated.toLocaleTimeString().slice(0,-3)}
                    div.repository__list__group_content
                        div.repository__list__item
                            dev.repository__list__item_title
                                a.route.repository__list__item_title-link(href = '#' data-section=`/${author}/${repName}/branch/${commit.commit_hash}`) #{commit.commit_hash}
                            div.repository__list__item_info автор: #{commit.commit_author_name}

                            div.repository__list__item_button
                               // button.button.button-colored.button-small(type='submit') *

    else
        div
            //- span.repository__list__item_info В этом репозитории пока что нет веток и коммитов
            div.repository__list__item_info Создайте новый репозиторий в командной строке
                pre
                    hr.line-separator.line-separator_extra-thin
                    | echo "# !{repName}" >> README.md
                    | git init
                    | git add README.md
                    | git commit -m "first commit"
                    | git remote add origin https://code-hub.space/!{author}/!{repName}.git
                    | git push -u origin master
                    hr.line-separator.line-separator_extra-thin
            div.repository__list__item_info Или запуште репозиторий через командную строку
                pre
                    hr.line-separator.line-separator_extra-thin
                    | git remote add origin https://code-hub.space/!{author}/!{repName}.git
                    | git push -u origin master
                    hr.line-separator.line-separator_extra-thin

