extends ../repository/repository.pug
block content

    if branchList
        form.form-horizontal(action='#' name="selectBranch")
            div.form-horizontal__item
                label.form-horizontal__item__label(for="branchName") ветка:
                select#branchName.form__item__input(name="branchName")
                    each branch in branchList
                        if branch.name === branchName
                            option(selected value=branchName) #{branchName}
                        else
                            option(value=branch.name) #{branch.name}

        hr.line-separator.line-separator_thin
        div.repository__list
            div.repository__list__group
                each commit in commitList
                    div.repository__list__group_title обновлено: #{commit.update}
                    div.repository__list__group_content
                        div.repository__list__item
                            div.repository__list__item_title #{commit.commit_hash}
                            div.repository__list__item_info автор: #{commit.commit_author_name}

                            div.repository__list__item_button
                               // button.button.button-colored.button-small(type='submit') *

    else
        div
            span.repository__list__item_info В этом репозитории пока что нет веток и коммитов
