extends ../repository/repository.pug
block content

    if branchList
        form.form-horizontal(action='#' name="selectBranch")
            div.form-horizontal__item
                label.form-horizontal__item__label(for="branchName") branch
                select#branchName.form__item__input(name="branchName")
                    each branch in branchList
                        if branch.name === branchName
                            option(selected value=branchName) #{branchName}
                        else
                            option(value=branch.name) #{branch.name}

        hr.line-separator.line-separator_thin
        div.repository__list
            div.repository__list__group
                each commit in commitList
                    div.repository__list__group_title updated: #{commit.update}
                    div.repository__list__group_content
                        div.repository__list__item
                            div.repository__list__item_title #{commit.commit_hash}
                            div.repository__list__item_info author: #{commit.commit_author_name}

                            div.repository__list__item_button
                                button.button.button-colored.button-small(type='submit') *

    else
        div
            span There are no branches in this repository yet. You can create a new branch &nbsp
            a.bright__link(href = '/' + author + '/' + repName + '/branches') here
